@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', serif;
  color: #1A1A40;
}

body{
  width: 100%;
  height: 100%;
  background-color: #F5EEDC;
  overflow: hidden;
}

nav{
  padding: 1em;
  border-bottom: 1.1px solid #1A1A40;
}

.main-container{

  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}

.my-feed{
  padding: 20px;
  padding-top: 3.5em;
  width: 33%;
  height: 100%;
  border-radius: 0 15px 15px 0;
  background: #1A1A40;
  position: fixed;
}

.my-feed .card{
  width: 100%;
}

.my-feed h2{
  color: #F5EEDC;
}

.feed-page{
  margin-left: 33%;
  padding: 20px;
  width: 67%;
  height: 100%;
  background: #F5EEDC;
}

.btn{
  background: #1A1A40;
  transition: all 0.3s;
  color: #F5EEDC;
  border: none;
}
.btn:hover{
  background: #1a1a40b9;
  transition: all 0.3s;
}

.search-bar{
  width: 100%;
}

.main-feed-section{
  margin-top: 1.2em;
}

.card{
  margin-bottom: 1.2em;
}